In [2]:
import pandas as pd
from scripts.clean_salary_data import split_name_with_and_without_comma

In [ ]:
with open(raw_salary_data_file, 'wb') as f:
        pickle.dump(raw_salary_dictionary, f)

In [23]:

saldata = pd.read_csv("data/gender_predictions/corpus_gender_predictions.csv")
saldata.head(70000)

,Last_Name,First_Name,Remuneration,Expenses,Year,Sex_at_birth,First_name_at_birth,Count,Total_Count,Accuracy
0,Aamodt,Tor,193153,"5,597",2023,Male,Tor,773.0,773.0,NaN
1,Abanto,Arleni,107723,393,2023,Female,Arleni,29.0,29.0,NaN
2,Abbassi,Arash,109136,82,2023,Male,Arash,1038.0,1038.0,NaN
3,Abdalkhani,Arman,101829,-,2023,Female,Arman,5.0,1057.0,NaN
4,Abdi,Ali,238203,"2,981",2023,Female,Ali,9845.0,40500.0,NaN
...,...,...,...,...,...,...,...,...,...,...
26096,Zumbo,Bruno,294953,"10,102",2020,Male,Bruno,16142.0,16142.0,NaN
26097,Zumpano,Franco,94463,420,2020,Male,Franco,6399.0,6399.0,NaN
26098,Zumrawi,Abdel,98145,-,2020,Male,Abdel,729.0,729.0,NaN
26099,Zwicker,Jill,145343,"12,523",2020,Female,Jill,208376.0,208878.0,NaN
26100,Zysk,Eva,93058,"2,489",2020,Female,Eva,263985.0,264969.0,NaN

In [10]:
canadian_names_frequency

,REF_DATE,GEO,DGUID,Sex_at_birth,First_name_at_birth,Indicator,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1991,Canada,2021A000011124,Male,AARON,Frequency,Number,223,units,0,v1491674946,1.1.73.1,1049.0,NaN,NaN,NaN,0
3,1991,Canada,2021A000011124,Male,ABBAS,Frequency,Number,223,units,0,v1491674988,1.1.115.1,8.0,NaN,NaN,NaN,0
6,1991,Canada,2021A000011124,Male,ABDALLAH,Frequency,Number,223,units,0,v1491675007,1.1.134.1,5.0,NaN,NaN,NaN,0
9,1991,Canada,2021A000011124,Male,ABDELKADER,Frequency,Number,223,units,0,v1491675011,1.1.138.1,5.0,NaN,NaN,NaN,0
12,1991,Canada,2021A000011124,Male,ABDIRAHMAN,Frequency,Number,223,units,0,v1491675024,1.1.151.1,12.0,NaN,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
561801,2021,Canada,2021A000011124,Female,ZURIEL,Frequency,Number,223,units,0,v1491738003,1.2.15769.1,5.0,NaN,NaN,NaN,0
561804,2021,Canada,2021A000011124,Female,ZYA,Frequency,Number,223,units,0,v1491738005,1.2.15771.1,7.0,NaN,NaN,NaN,0
561807,2021,Canada,2021A000011124,Female,ZYLA,Frequency,Number,223,units,0,v1491738013,1.2.15779.1,11.0,NaN,NaN,NaN,0
561810,2021,Canada,2021A000011124,Female,ZYLAH,Frequency,Number,223,units,0,v1491738014,1.2.15780.1,5.0,NaN,NaN,NaN,0
561813,2021,Canada,2021A000011124,Female,ZYRA,Frequency,Number,223,units,0,v1491738019,1.2.15785.1,11.0,NaN,NaN,NaN,0

In [16]:
from scripts.clean_salary_data import shorten_name
data = pd.read_csv("data/gender_corpus/NationalNames.csv")
# data = data.rename(columns = {'First name at birth':'First_name_at_birth', 'Sex at birth':'Sex_at_birth'})
# data.loc[:,'First_name_at_birth'] = data['First_name_at_birth'].apply(shorten_name)
# # filter for frequency of baby name values (each baby name has a row for frequency, rank, and proportion)
# canadian_names_frequency = data.query("Indicator == 'Frequency'")
# # Group by baby name and sum frequency counts over the years, remove unnecessary features
# canadian_names_over_all_years =   canadian_names_frequency[['Sex_at_birth', 'First_name_at_birth','VALUE']].groupby(['Sex_at_birth', 'First_name_at_birth']).sum().reset_index()

# # # Find the total count of male + female for each baby name
# totals = canadian_names_over_all_years[['First_name_at_birth','VALUE']].groupby(['First_name_at_birth']).sum().reset_index().rename(columns = {'VALUE':'TOTAL_VALUE'})
# # Merge the total count with the rest of the baby name data
# df = pd.merge(canadian_names_over_all_years, totals, on = 'First_name_at_birth', how = 'left')
#canadian_names_over_all_years[canadian_names_over_all_years['First_name_at_birth'] == "AARON"]
data

              Id       Name  Year Gender  Count
0              1       Mary  1880      F   7065
1              2       Anna  1880      F   2604
2              3       Emma  1880      F   2003
3              4  Elizabeth  1880      F   1939
4              5     Minnie  1880      F   1746
...          ...        ...   ...    ...    ...
1825428  1825429     Zykeem  2014      M      5
1825429  1825430     Zymeer  2014      M      5
1825430  1825431    Zymiere  2014      M      5
1825431  1825432      Zyran  2014      M      5
1825432  1825433      Zyrin  2014      M      5

[1825433 rows x 5 columns]

In [25]:

def shorten_name(name):
    '''remove initials from names, and if two names just keep the first one
    
    Parameters:
    ----------
    name : str
        name of a person
        
    Returns:
    -------
    name : str
        shortened name
    
    Examples:
    _______
    >>> name = "A Bobby"
    >>> shortened_name = shorten_name(name)
    >>> print(shortened_name)
    >>> Bobby

    >>> name = "Anne Michele"
    >>> shortened_name = shorten_name(name)
    >>> print(shortened_name)
    >>> Anne

    >>> name = "Kristen"
    >>> shortened_name = shorten_name(name)
    >>> print(shortened_name)
    >>> Kristen

    >>> name = "Anne -Michelle"
    >>> shortened_name = shorten_name(name)
    >>> print(shortened_name)
    >>> Anne-Michelle

    '''
    name = str(name)
    name = name.strip() # remove white space
    name = name.replace(" -","-").replace("- ","-") # make sure names that should be connected are connected
    if len(name.split(" ")) <= 1: # if only one word, return word
        shortened_name = name
    else:
        words = name.split(" ")
        for word in words: # remove one-letter initials if they exist
            if len(word) == 1:
                words.remove(word)
        shortened_name = words[0]  # save first word
    return shortened_name

In [26]:

import pandas as pd
import click


def sum_frequency_counts(df):
    '''Group by first name and sex, then sum frequency counts over the years

    Parameters:
    ----------
    df : pandas.DataFrame
        data with columns 'Sex_at_birth', 'First_name_at_birth', 'Count', and 'Year' 
        
    Returns:
    -------
    df : pandas.DataFrame
        data with columns 'Sex_at_birth', 'First_name_at_birth', and 'Count'
    
    Example:
    ___________

    Input:

    | First_name_at_birth | Sex_at_birth | Indicator | Count    | Year |
    | ------------------- | -------------| ----------| -------- | ---- |
    | Sam                 | Female       | Frequency | 5000     | 1999 |
    | Sam                 | Female       | Frequency | 2000     | 2000 |
    | Sam                 | Male         | Frequency | 3000     | 1999 |
    | Sam                 | Male         | Frequency | 2000     | 2000 |

    Returns:

    | Sex_at_birth | First_name_at_birth | Count    |
    | ------------ | ------------------- | -------- | 
    | Female       | Sam                 | 7000     | 
    | Male         | Sam                 | 5000     |
    '''

     # Group by baby name and sum frequency counts over the years, remove unnecessary features
    df = df[['Sex_at_birth', 'First_name_at_birth','Count']].groupby(['Sex_at_birth', 'First_name_at_birth']).sum().reset_index()
    return df


def find_totals(df):
    '''add column with total counts for each baby name (summing up across genders)

    Parameters:
    ----------
    df : pandas.DataFrame
        data with columns 'Sex_at_birth', 'First_name_at_birth', and 'Count' 
        
    Returns:
    -------
    df : pandas.DataFrame
        data with columns 'Sex_at_birth', 'First_name_at_birth', 'Count', and 'Total_Count'
    
    Example:
    ________

    Input:

    | Sex_at_birth | First_name_at_birth | Count |
    | ------------ | ------------------- | ----- | 
    | Female       | Sam                 | 7000  | 
    | Male         | Sam                 | 5000  | 

    Returns:

    | Sex_at_birth | First_name_at_birth | Count | Total_Count |
    | ------------ | ------------------- | ----- | ----------- | 
    | Female       | Sam                 | 7000  | 12000       | 
    | Male         | Sam                 | 5000  | 12000       | 
    '''

    # create a dataframe with the total count of male + female babys for each baby name
    totals = df[['First_name_at_birth','Count']].groupby(['First_name_at_birth']).sum().reset_index().rename(columns = {'Count':'Total_Count'})
    # Merge the total count with the rest of the baby name data
    df = pd.merge(df, totals, on = 'First_name_at_birth', how = 'left')
    return df


def prepare_canadian_babyname_data(canada_df):
    '''Select necessary columns and perform aggregation functions on the canadian baby name dataset
    so that we are left with columns of sex, name, count for specified name and sex, and count for name accross all sexes
    
    Parameters:
    ----------
    canada_df : pandas.DataFrame
        canadian babyname data that contains the columns: "First name at birth", "Sex at birth", "Indicator", 
        "Year" (optional), "Count"
        
    Returns:
    -------
    canadian_names_gender_totals : pandas.DataFrame
        clean candadian babyname data containing the columns: "Sex_at_birth", "First_name_at_birth", 
        "Count", "Total_Count"
    '''

    # rename columns to remove spaces:
    canada_df = canada_df.rename(columns = {'First name at birth':'First_name_at_birth', 'Sex at birth':'Sex_at_birth','VALUE':'Count'})
    # shorten baby name to match salary data names
    canada_df.loc[:,'First_name_at_birth'] = canada_df['First_name_at_birth'].apply(shorten_name)
    # filter for frequency of baby name values (each baby name has a row for frequency, rank, and proportion)
    canadian_names_frequency = canada_df.query("Indicator == 'Frequency'")
    # Group by baby name and sum frequency counts over the years, remove unnecessary features
    canadian_names_over_all_years = sum_frequency_counts(canadian_names_frequency)
    # Find the total count of male + female for each baby name
    canadian_names_gender_totals = find_totals(canadian_names_over_all_years)
    return canadian_names_gender_totals


def prepare_american_babyname_data(american_df):
    '''Select necessary columns and perform aggregation functions on the american baby name dataset 
    so that we are left with columns of sex, name, count for specified sex, and count accross all sexes
    
    Parameters:
    ----------
    american_df : pandas.DataFrame
        american babyname data that contains the columns: "Name", "Gender", "Year" (optional), "Count"
        
    Returns:
    -------
    american_names_totals : pandas.DataFrame
        clean american babyname data containing the columns: "Sex_at_birth", "First_name_at_birth", 
        "Count", "Total_Count"
    '''

    # If there are multiple names, just keep the first one
    american_df.loc[:,'Name'] = american_df['Name'].apply(shorten_name)
    # Rename columns to match Canadian data
    american_names_relable = american_df.rename(columns = {'Name':'First_name_at_birth', 'Gender':'Sex_at_birth'})
    # Relabel sex data to match Canadian data
    american_names_relable['Sex_at_birth'] = american_names_relable['Sex_at_birth'].replace({'F':'Female','M':'Male'})

    # Find counts for each name/gender combo over the years
    american_names_summed_counts = sum_frequency_counts(american_names_relable)
    # Find total for each name across gender
    american_names_totals = find_totals(american_names_summed_counts)

    return american_names_totals


def combine_two_babyname_datasets(dataset1, dataset2):
    '''combine two datasets, adding together counts and total counts from each dataset

    Parameters:
    ----------
    dataset1 : pandas.DataFrame
        data with columns 'Sex_at_birth', 'First_name_at_birth', 'Count', and 'Total_Count'
    dataset2 : pandas.DataFrame
        data with columns 'Sex_at_birth', 'First_name_at_birth', 'Count', and 'Total_Count'
        
    Returns:
    -------
    df : pandas.DataFrame
        data with columns 'Sex_at_birth', 'First_name_at_birth', 'Count', and 'Total_Count'
    
    Example
    _______

    Input:

    dataset1
    | Sex_at_birth | First_name_at_birth | Count | Total_Count |
    | ------------ | ------------------- | ----- | ----------- | 
    | Female       | Sam                 | 7000  | 12000       |  
    | Male         | Sam                 | 5000  | 12000       | 

    dataset2
    | Sex_at_birth | First_name_at_birth | Count | Total_Count |
    | ------------ | ------------------- | ----- | ----------- | 
    | Female       | Stephanie           | 1000  | 1000        | 
    | Male         | Sam                 | 3000  | 3000        |  

    Returns:

    combined_names
    | Sex_at_birth | First_name_at_birth | Count | Total_Count |
    | ------------ | ------------------- | ----- | ----------- | 
    | Female       | Stephanie           | 1000  | 1000        |
    | Female       | Sam                 | 7000  | 15000       |
    | Male         | Sam                 | 8000  | 15000       |  
    '''
    
    # Concat two datasets
    combined_names = pd.concat([dataset1,dataset2])
    # drop null values
    combined_names = combined_names.dropna()
    # make sure that the names are in Title Case to ensure consistency.
    combined_names['First_name_at_birth'] = combined_names['First_name_at_birth'].str.title()
    # group by name and sex, then add together up the value and total value counts from both datasets
    combined_names = combined_names[['Sex_at_birth', 'First_name_at_birth','Count','Total_Count']].groupby(['Sex_at_birth', 'First_name_at_birth']).sum().reset_index()
    return combined_names


def create_and_filter_accuracy_column(dataframe):
    '''Create a new column representing the accuracy of gender prediction for each baby name and filter to 
    keep the rows with the largest accuracy value for each name.

    Parameters:
    -----------
    dataframe : pandas.DataFrame
        Input DataFrame containing columns 'Sex_at_birth', 'First_name_at_birth', 'Count', and 'Total_Count'.

    Returns:
    --------
    dataframe: pandas.DataFrame
        filtered DataFrame with columns 'Sex_at_birth', 'First_name_at_birth', and 'Accuracy'

    Example
    -------
    Input:
    | Sex_at_birth | First_name_at_birth | Count | Total_Count |
    | ------------ | ------------------- | ----- | ----------- | 
    | Female       | Stephanie           | 1000  | 1000        |
    | Female       | Sam                 | 7000  | 15000       |
    | Male         | Sam                 | 8000  | 15000       |

    Returns:
    | Sex_at_birth | First_name_at_birth  | Accuracy |
    |--------------|----------------------|----------|
    | Male         | Sam                  | 0.53     |
    | Female       | Stephanie            | 1.0      |
    '''

    # Create a new column that contains the percentage of counts that are [fem/male] for the given baby name
    dataframe['Accuracy'] = round(dataframe['Count']/dataframe['Total_Count'],2)
    # keep row with the sex that has the highest accuracy
    dataframe = dataframe.sort_values('Accuracy', ascending=False).drop_duplicates('First_name_at_birth').reset_index()
    # drop useless columns
    dataframe = dataframe.drop(columns = ['Count', 'Total_Count'])
    return dataframe


def prepare_indian_babyname_data(indian_female_df,indian_male_df):
    '''Prepare Indian baby name data for analysis by combining and standardizing female and male datasets. Add an accuracy column.
    IMPORTANT-NOTE: The assigned accuracy value is fairly arbitrary since there is no frequency measure in this data

    Parameters:
    -----------
    indian_female_df : pandas.DataFrame
        DataFrame containing Indian female baby name data with columns 'name','gender', and 'race'
    indian_male_df : pandas.DataFrame
        DataFrame containing Indian male baby name data with columns 'name','gender', and 'race'

    Returns:
    --------
    pandas.DataFrame
        DataFrame containing combined Indian baby names data with columns 'Sex_at_birth', 'First_name_at_birth', and 'Accuracy'.

    Example
    -------
 
    indian_female_df:
    | name      | gender | race   |
    |-----------|--------|--------|
    | Aaradhya  | f      | indian |
    | diya Min  | f      | indian |

    indian_male_df:
    | name      | gender | race   |
    |-----------|--------|--------|
    | Aarav     | m      | indian |
    | Arjun     | m      | indian |

    Returns:
    | Sex_at_birth | First_name_at_birth | Accuracy |
    |--------------|---------------------|----------|
    | Female       | Aaradhya            | 0.85     |
    | Female       | Diya                | 0.85     |
    | Male         | Aarav               | 0.85     |
    | Male         | Arjun               | 0.85     |
    '''

    # Combine female and male names
    indian_names = pd.concat([indian_female_df,indian_male_df])
    # rename columns to match name corpus
    indian_names = indian_names.rename(columns = {'name':'First_name_at_birth', 'gender':'Sex_at_birth'})
    # relabel sex data to match name corpus
    indian_names['Sex_at_birth'] = indian_names['Sex_at_birth'].replace({'f':'Female','m':'Male'})
    # make sure names are in title case
    indian_names['First_name_at_birth'] = indian_names['First_name_at_birth'].str.title()
    # If there are multiple names, just keep the first one
    indian_names['First_name_at_birth'] = indian_names['First_name_at_birth'].apply(shorten_name)
    # Drop names that appear in the male and female datasets - since cannot determine which is most frequent
    indian_names = indian_names.drop_duplicates(subset=['First_name_at_birth'], keep = False)
    # drop unnecessary columns
    indian_names = indian_names.drop(columns = ['race'])
    # Apply arbitrary accuracy value
    indian_names['Accuracy'] = 0.85
    return indian_names


def make_gender_predictions_using_corpus(salary_data, name_corpus):
    '''Make gender predictions for individuals in salary data using a large dataset of names 
    and their associated genders.

    Parameters:
    -----------
    salary_data : pandas.DataFrame
        DataFrame containing salary data with at least a column 'First_Name' representing individual names.
    name_corpus : pandas.DataFrame
        DataFrame containing a name corpus with at least columns 'First_name_at_birth' and 'Sex_at_birth' 
        representing baby names and their associated genders.

    Returns:
    --------
    pop_df_predictions : pandas.DataFrame
        data which contains predictions for individuals with exact name matches found in the name corpus.
    pop_df_needs_predictions : pandas.DataFrame
        data which contains individuals where there was no exact name match, and their gender still needs to be predicted.

    Example
    -------
    Input:
    salary_data:
    | First_Name | Salary |
    |------------|--------|
    | John       | 50000  |
    | Emily      | 60000  |
    | Jane       | 610000 |
    | Alex       | 20000  |

    name_corpus:
    | First_name_at_birth | Sex_at_birth |
    |----------------------|--------------|
    | John                 | Male         |
    | Emily                | Female       |

    Returns:
    pop_df_predictions:
    | First_Name | Salary | Sex_at_birth |
    |------------|--------|--------------|
    | John       | 50000  | Male         |
    | Emily      | 60000  | Female       |

    pop_df_needs_predictions:
    | First_Name | Salary |
    |------------|--------|
    | Jane       | 610000 |
    | Alex       | 20000  |
    '''
    pop_df_predicted = pd.merge(salary_data, name_corpus, left_on = ['First_Name'], right_on = ['First_name_at_birth'], how = 'left')
    # Create dataset for exact name matches
    pop_df_predictions = pop_df_predicted[pop_df_predicted['Sex_at_birth'].notnull()]
    # Create dataset where there was no exact match and sex still needs to be predicted
    pop_df_needs_predictions = pop_df_predicted[~pop_df_predicted['Sex_at_birth'].notnull()]
    return pop_df_predictions, pop_df_needs_predictions

In [ ]:
canadian_names = pd.read_csv('data/17100147.csv')


canadian_names = pd.read_csv(canadian_babyname_data_file)

# Read in extra data for american names and clean it up so that it can be merged with other name-sex data
# https://www.kaggle.com/datasets/kaggle/us-baby-names/code
american_names = pd.read_csv(american_babyname_data_file)

# Read in data for indian names and clean it up so that it can be merged with other name-sex data
# https://www.kaggle.com/datasets/ananysharma/indian-names-dataset
f_indian_names = pd.read_csv(indian_f_babyname_data_file)
m_indian_names = pd.read_csv(indian_m_babyname_data_file)

# Read in clean salary data
salary_data = pd.read_csv(clean_salary_data_file)

############# CLEAN DATA ##############
# clean canadian data
canadian_babyname_data = prepare_canadian_babyname_data(canadian_names)

# clean american data
american_babyname_data = prepare_american_babyname_data(american_names)

# clean indian data
indian_babyname_data = prepare_indian_babyname_data(f_indian_names, m_indian_names)

############# COMBINE DATA ##############
canadian_and_american_babyname_data = combine_two_babyname_datasets(canadian_babyname_data,american_babyname_data)

name_corpus = pd.concat([canadian_and_american_babyname_data,indian_babyname_data]).drop_duplicates(subset = 'First_name_at_birth')

############# MAKE PREDICTIONS ##############
# Merge the names and gender dataset onto the UBC dataset to see if there are exact name matches

gender_predictions, needs_gender_predictions = make_gender_predictions_using_corpus(salary_data, name_corpus)